@use "variables"
@use "mixins"

*
  font-family: "Josefin Sans"
  padding: 0
  margin: 0
  box-shadow: border-box

body
  background: variables.$bg-color
  color: variables.$text-color

  a
    color: variables.$text-color
    text-decoration: none
    transition: .4s

  ul
    list-style: none

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 2rem 0
  @include mixins.container
  @include mixins.mobile

  &-brand
    color: variables.$primary-color
    font-size: 3rem

  &-navbar
    ul
      @include mixins.flex-center
      @include mixins.mobile
        display: none

      li
        margin: 0 1rem
        text-transform: uppercase
        font-size: .8rem

        .active
          color: variables.$secondary-color

        a
          &:hover
            color: variables.$secondary-color

  &-social-media
    ul
      @include mixins.flex-center
      @include mixins.mobile
        display: none
      @include mixins.tablet
        display: none

      li
        margin: 0 1rem

        a
          &:hover
            color: variables.$primary-color

  &-bars-menu
    display: none
    i
      font-size: 24px
      color: variables.$primary-color
    @include mixins.mobile
      display: block
    @include mixins.tablet
      display: block

.gallery
  @include mixins.container
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: .5rem
  padding: 0
  position: relative
  @include mixins.mobile
    grid-template-columns: 1fr
  @include mixins.tablet
    grid-template-columns: repeat(2, 1fr)
  @include mixins.hd

  &-card
    width: 100%
    height: 400px
    margin: 0
    @include mixins.bg-img-style
    @include mixins.flex-center
    flex-direction: column
    color: variables.$primary-color
    @include mixins.mobile
      width: 100%

    &-title
      font-size: 2rem
      font-weight: 300
      margin-bottom: 1rem

    &-btn
      position: absolute
      bottom: 1rem
      padding: .6rem 2rem
      border: 2px solid variables.$primary-color
      color: variables.$primary-color
      font-weight: 400
      text-transform: uppercase
      letter-spacing: 1px
      cursor: pointer

      &:hover
        background: variables.$primary-color
        color: variables.$bg-color

footer
  text-align: center
  padding: 2rem

  span
    font-weight: 700
    color: variables.$secondary-color
